<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the Home page.</h1>
    <h3> <%= 1 + 2 %></h3>
    <h3> <%= "Mahendra".toUpperCase() %></h3>
    <h3> <%= ["Guna", "Vamsi", "Ganesh"].slice(1) %> </h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt praesentium explicabo, molestias nisi accusantium
        vel quam necessitatibus tempora! Reprehenderit magnam excepturi earum est consequatur dicta! Eveniet odit
        commodi earum voluptates.
    </p>
    <button>Click Me</button>
</body>
</html>